/* Styles */

.top {
	text-align: center;
	background-color: #94D9EE;
	height: 200px;
	vertical-align: middle;
}
.mid {
	text-align: center;
	background-color: #A8A8B0;
	padding-bottom: 50px;
}
.btn-blu {
	background-color: #738582;
}
.btn-blu:hover {
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background-color: #94D9EE;
    color: #FFFFFF;
}
.btn-blu a {
	color: #38272E;
	text-decoration: none;
}
/*.btn-blu a:hover {
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
	color: #FFFFFF;
	text-decoration: none;
	background-color: 
}*/
.white {
	color: #FFFFFF;
}
.select {
	width: 100px;
	margin: auto;
}
.right {
	float: right;
}
.left {
	float: left;
}