/* Styles */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Inconsolata';
}
a {
	color: #52CC29;
}
.navbar > .container .navbar-brand {
	margin: auto;
}
.padding {
	padding-top: 51px;
}
.down {
	padding-top: 90px;
}
.top {
	text-align: center;
	height: 200px;
	vertical-align: middle;
	color: #00FF00;
	background-color: #000000;
/*	background-image: url('../terminal.png');*/
	height: 300px;
}
.terminal {

		position: absolute;
}
.mid {
	text-align: center;
	background-color: #232323;
	padding-bottom: 50px;
}
.bot {
	text-align: center;
	margin-bottom: 100px;
}
.btn-blu {
	background-color: #738582;
}
.btn-blu:hover {
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
  	-webkit-transition-property: transform;
 	transition-property: transform;
 	-webkit-transform: translateZ(0);
  	transform: translateZ(0);
    -webkit-transform: scale(1.1);
  	transform: scale(1.1);
    background-color: #00FF00;
    color: #FFFFFF;
}
.btn-blu a {
	color: #38272E;
	text-decoration: none;
}
.white {
	color: #FFFFFF;
}
.select {
	width: 100px;
	margin: auto;
}
.right {
	float: right;
	margin-top: 10px;
	width: 100px;
}
.left {
	float: left;
	margin-top: 10px;
}
#reset {
	display: block;
	margin-top: 50px;
}
.glyphicon-align-center {
	padding-left: 5px;
}
.glyphicon-arrow-down {
	font-size: 45px;
	color: #FFFFFF
}
.pic {
	padding-left: 10px;
}
#random-ipsum {
	margin: 0 30px 0 30px;
	text-align: left;
	height: auto;
	background-color: #000000;
	color: #00FF00;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  /* Set the fixed height of the footer here */
  height: 160px;
  background-color: #000000;
}
::selection {
  background: #FF3399; /* WebKit/Blink Browsers */
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
  font-size: 16px;
}
/* Media Queries */
@media (max-width: 992px) {
	.form-control {
		float: none;
	}
	#ipsum {
		float: none;
		margin-top: -30px;
	}
	.row {
		margin-top: -20px;
	}
	.top {
		background-image: none;
		background-color: #000000;
		color: #52CC29;
	}
	.mid {
		padding-top: 5px;
	}
	.navbar > .container .navbar-brand {
		margin: auto;
	}
	#side {
		margin-bottom: 100px;
		text-align: center;
	}
	#reset {
		display: inline-block;
		margin-top: 20px;
		margin-bottom: 20px;
	}
}
